<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Campgrounds</title>
</head>
<body>
    <h1>All Campgrounds</h1>
    <ul>
        <% for ( let c of camps ){%>
            <a href="/campgrounds/<%= c._id %>"><li><%=c.title %></li></a>
        <% } %>
    </ul>
    <footer>
        <a href="/campgrounds/new">Add new</a>
    </footer>
</body>
</html>